html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    height:100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.nav {
    margin-bottom: 0;
    /*padding-left: 0;*/
    padding: 5px 5px;
    list-style: none;
}

    .nav > li {
        position: relative;
        display: block;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 20px 20px 20px;
        }

            .nav > li > a:hover,
            .nav > li > a:focus {
                text-decoration: none;
                background-color: #e6e6e6;
            }

        .nav > li.disabled > a {
            color: #999999;
        }

            .nav > li.disabled > a:hover,
            .nav > li.disabled > a:focus {
                color: #999999;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: #e6e6e6;
        border-color: #2780e3;
    }

.nav > li > a > img {
    height: 110px;
}

.container {
    max-width:1470px;
}

#startSiteDivLeft {
    width: 50%;
    height: 100%;
    background-color: #404182;
    float: left;
    /*für die zentrierung des Bildes bzw. Inhaltes*/
    display: flex;
    align-items: center;
    justify-content: center;
}


#startSiteDivRight {
    width: 50%;
    height: 100%;
    float: right;
    padding: 10%;
    /*für die zentrierung des Bildes bzw. Inhaltes*/
    display: flex;
    align-items: center;
    justify-content: center;

}
    #startSiteDivRight > div > h2 {
        text-align:center;
    }

