@model LCA_WEB.Models.Produkt
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Sind Sie sicher folgendes Objekt zu löschen: @Html.DisplayFor(model => model.Name)?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" value="Delete" class="btn btn-default" />
        |
        @Html.ActionLink("Back to List", "Index")
    </div>
}