@model LCA_WEB.Models.RohstoffViewViewModel
@{
    ViewBag.Title = "Löschen eines Rohstoffes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Sind Sie sicher folgenden Rohstoff löschen zu wollen: @Html.DisplayFor(model => model._Rohstoffe.Name)?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" value="Delete" class="btn btn-default"  />
        |
        @Html.ActionLink("Back to List", Model._View)
    </div>
}