@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Objekt auswählen oder hinzufügen";
}

<div class="ObjectBoxes">
    <div class="boxAddObject">+</div>
    <ul>
        <li class="listObjectChoice">ICE 13456</li>
        <li class="listObjectChoice">ICE 345</li>
        <li class="listObjectChoice">Hauptbahnhof Frankfurt am Main</li>
        <li class="listObjectChoice">Hauptbahnhof Berlin</li>
        <li class="listObjectChoice">Hauptbahnhof Essen</li>
        <li class="listObjectChoice">Brücke am Fließ Berlin</li>
        <li class="listObjectChoice">Bahnhof Gesundbrunnen Berlin</li>
    </ul>
</div>